<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <script type="text/javascript" src="/lib/browser.js"></script>
        <script type="text/javascript" src="/lib/react-15.2.1.js"></script>
        <script type="text/javascript" src="/lib/react-dom-15.2.1.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="/lib/bootstrap.css">
        <link rel="stylesheet" href="/lib/sb-admin.css">
        <link rel="stylesheet" href="/lib/font-awesome.css">
    </head>
    <body>
        {% include 'navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <!-- <script type="text/javascript" src="lib/jquery.js"></script> -->
        <script type="text/javascript" src="/lib/jquery-3.1.0.js"></script>
        <script type="text/javascript" src="/lib/bootstrap.js"></script>
    </body>
</html>
