<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Evan + Symfony{% endblock %}</title>

        {% block stylesheets %}
        <style>
            h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
            h1 { font-size: 36px; }
            h2 { font-size: 21px; margin-bottom: 1em; }
            p { margin: 0 0 1em 0; }
            a { color: #0000F0; }
            a:hover { text-decoration: none; }
            code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
            #wrapper { margin: 1em auto; max-width: 800px; width: 95%; }
            #container { padding: 2em; color: white;}
            #welcome, #status { margin-bottom: 2em; }
            #welcome h1 span { display: block; font-size: 75%; }
            #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
            #icon-book { display: none; }

            @media (min-width: 768px) {
                #wrapper { width: 80%; margin: 2em auto; }
                #icon-book { display: inline-block; }
                #status a, #next a { display: block; }

                @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
                @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
                .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
            }
        </style>

        {% endblock %}

        <script type="text/javascript" src="/lib/browser.js"></script>
        <script type="text/javascript" src="/lib/react-15.2.1.js"></script>
        <script type="text/javascript" src="/lib/react-dom-15.2.1.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="/lib/bootstrap.css">
        <link rel="stylesheet" href="/lib/sb-admin.css">
        <link rel="stylesheet" href="/lib/font-awesome.css">
    </head>
    <body>
        {% include 'navbar.html.twig' %}
        {% block body %}{% endblock %}
        <!-- <script type="text/javascript" src="lib/jquery.js"></script> -->
        <script type="text/javascript" src="/lib/jquery-3.1.0.js"></script>
        <script type="text/javascript" src="/lib/bootstrap.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
