<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">SB Admin</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>{{ app.user.username }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        {% else %}
            <li class="navbar-nav">
                <a href="/login"><i class="fa fa-fw fa-power-off"></i> Log In</a>
            </li>
        {% endif %}



    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-right navbar-nav side-nav">
            <li id="nav-home" class="active">
                <a href="/"><i class="fa fa-fw "></i> Home</a>
            </li>
            <li id="nav-product-list">
                <a href="/product/"><i class="fa fa-fw "></i> Product List</a>
            </li>
            <li id="nav-product-search">
                <a href="/products/1/"><i class="fa fa-fw "></i> Product Search</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>

<!-- side nav button icons-->
<!-- fa-table -->
<!-- fa-edit -->
<!-- fa-desktop -->
<!-- fa-wrench -->
<!-- fa-bar-chart-o -->
<!-- fa-dashboard -->
<!-- fa-arrows-v -->
<!-- fa-caret-down -->
<!-- fa-file -->
<!-- fa-dashboard -->
